@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";


#navbar{
    background-color: #350653;
}

body{
    background-color: #6D28D9
}

h2{
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-left: 1%;

}

  .card {
   
  
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  }